{% extends "main/main_template.html" %}

{% block title %}Login Page{% endblock title %}

{% block content %}
    {% if form.errors %}
        {% for error in form.errors %}
            <div
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
            >
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                ></button>
                <strong>{{ form.non_field_errors }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {% comment %} <div class="mb-3">
            <label for="" class="form-label">Логин</label>
            <input
                type="text"
                class="form-control"
                name="username"
                id=""
                aria-describedby="helpId"
                placeholder=""
            />
            <small id="helpId" class="form-text text-muted">Введите свой логин</small>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Почта</label>
            <input
                type="text"
                class="form-control"
                name="email"
                id=""
                aria-describedby="helpId"
                placeholder=""
            />
            <small id="helpId" class="form-text text-muted">Введите свою почту</small>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Пароль</label>
            <input
                type="password"
                class="form-control"
                name="password"
                id=""
                placeholder=""
            />
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Пароль повторно</label>
            <input
                type="password"
                class="form-control"
                name="confirm_password"
                id=""
                placeholder=""
            />
            <small id="helpId" class="form-text text-muted">Подтвердите пароль</small>
        </div> {% endcomment %}
        
        {{ form }}

        <button
            type="submit"
            class="btn btn-primary mt-3"
        >
            Зарегистрироваться
        </button>
        
    </form>
{% endblock content %}